<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Boo.Lang.Compiler" publicKeyToken="32c39770e9a21a67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.9.4" newVersion="2.0.9.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Boo.Lang" publicKeyToken="32c39770e9a21a67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.9.4" newVersion="2.0.9.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Boo.Lang.Parser" publicKeyToken="32c39770e9a21a67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.9.4" newVersion="2.0.9.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>